.texAce #aceMask {
  overflow-y: hidden;
}
.texAce #aceWrapper {
  position: relative;
  height: 10000px;
}
.texAce #aceEditor {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.texAce #themeSelector {
	margin-bottom: 10px;
}
